.views-fluid-grid img{
	padding-top:9px;
	padding-bottom:3px;
}

li.views-fluid-grid-item {
    overflow: hidden;
    padding: 3px;
    vertical-align: top;
    background-color: transparent;
    background-image: none;
    border: 0;
    color: #A06750;
    list-style-type: none;
}
.views_slideshow_singleframe_previous,
.views_slideshow_singleframe_next {
  width:15px;
  height:0px;
  padding-top:15px;
  position:absolute;
  top:50%;
  overflow:hidden;
}
.views_slideshow_singleframe_previous {
  background:url('../images/scroll_left.png');
  left:0px;
}
.views_slideshow_singleframe_next {
  background:url('../images/scroll_right.png');
  right:0px;
}
.views_slideshow_singleframe_pause {
  display:none;
}

.view-secciones .views-field-phpcode {
  float: left;
}
.view-secciones .views-field-phpcode-2 {
  float: left;
  width: 50%;
}
.view-secciones .share-twitter img {
  margin-top: -15px;
}
#secciones h2 {
  text-transform: uppercase;
}

/*
.imagecache-thumbnail {
  border: 1px solid gray;
}
*/
.views-field-field-foto-fid a:hover {
  background: none repeat scroll 0 0 #F343aa;
  border: 0 none;
}
.page-nav {
  padding-bottom: 30px;
  padding-top: 30px;
}


#footer {
  border-top: 1px solid #CCCCCC;
  clear: both;
  color: #999999;
  font-size: 10px;
  margin-top: 30px;
}
.footer-texto {
  margin-top: 5px;
  margin-left: 10px;
}

.footer-redes-sociales {
  margin-top: 5px;
  /*margin-left: 10px;*/
}
